:root {
    --primary-color: #b11d3a;
    --primary-color2: #262626;
    --primary-color3: #ffffff;
    --primary-bg: #efefef;
    --primary-color5: #FFDCDE;
    --primary-color6: #181818;
    --primary-color7: #FFEBEB
}

body{
    background: var(--primary-bg);
}
header .nav {
    display: flex;
    color: black;
    padding:0 30px;
    text-decoration: none;
    background: var(--primary-color3);
}

header .menu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding:  15px 30px;
    font-size: 15px;
    text-align: center;
    margin: 0 150px;
}

header .menu a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding: 0 30px;
    font-size: 15px;
    text-align: center;
}
header .contacts {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    text-align: center;
    margin: 0 50px;
}

header .contacts .bordure {
    display: flex;
    justify-content: space-between;
    color: #efefef;
    padding:10px 30px;
    background: #b11d3a;
    border:#b11d3a 1px;
    border-radius: 20px;
    
}
header .submenu {
    border: 0;
    background: #ffffff;
    color: #b11d3a;
}
header .submenu a {
    border: 0;
    background: #ffffff;
    color:#efefef;
    
}

/*Fin head*/

/*bannier*/


.bannier {
    position: relative;
    height: 60vh;
    width: 100%;
    background-image:
      linear-gradient(rgba(52, 52, 52, 0.5), rgba(60, 60, 60, 0.284)),
      url("../img/26.png");
    background-size: cover;
    margin-top: -10vh;
  
  }
  
  
  
  
  .bannier .description {
  
  
    left: 0;
    top: 0;
    margin: 6rem 11rem;
    padding: 7rem;
  }
  
  .bannier .description h2 {
  
    color: var(--primary-color3);
    font-size: 3rem
  }
  
  .bannier .description p {
    width: 52vh;
    color: var(--primary-color3);
  }
  
  
  .bannier .description input {
    background-color: #b11d3a;
    border-radius: 21px;
    padding: 12px 21px;
    color: #ffffff;
    border: 0;
  
  }
  
  
  .bannier .tre-bottom {
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 30rem;
  
  
  }
  
  .bannier .tre-bottom .border-btm {
    position: relative;
    width: 11px;
    height: 11px;
    background-color: var(--primary-bg);
    margin: 2vh;
    top: 5vh;
    border-radius: 12vh;
  
  
  }
  
  .bannier .tre-bottom .border-btm3 {
    position: relative;
    width: 21px;
    height: 8px;
    background-color: var(--primary-bg);
    margin: 2vh;
    top: 5vh;
    border-radius: 12vh;
  
  
  }
  
  .a-propos{
    margin-top: -140px;
    justify-content: center;
    margin-left: 50px;
    background-color: #efefef;
        }
    .a-propos .block1{
        display: flex;
        padding: 200px;
        margin-left: 140px;
        
        
    }
    .a-propos .block2 {
        
        padding:0 20px;
        margin:0 20px;
        width: 48vh;
        font-size: medium;
    
    
    
    }
    .a-propos .block1 img {
        height: 22rem;
        width: 20rem;
        border-radius: 25px;
        padding: 9px 0;
    }
    .a-propos .block2 h2 {
        color: #b11d3a;
    }
    .a-propos p {
        font-size: 20px;
    }

/* FIN APROPOS*/

/* NOS NOUVELLE*/


 
.nouvelle  {
  position: absolute;
  background: var(--primary-color3);
  align-items: center;
  margin-bottom: 20%;
  width: 99%;
  height: 120vh;
  justify-content: center;

  


 }
 .nouvelle .container  {
  position: relative;
  background: var(--primary-color3);
  padding: 9vh 93vh ;
 }


.nouvelle .peda-plier {
 
  
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vh; 
  text-align: left;
  display: flex;
  width: 5%;  
  margin:0 1vh;

 }
 .nouvelle .peda-plier {
 
  
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2vh; 
  text-align: left;
  display: flex;
  width: 5%;  
  margin:0 1vh;

 }
          
.nouvelle .peda-plier .box-plier {
   
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.3vh; 
  width:58vh;
  height: 38vh;
  text-align: left;
  position: relative;
  margin:0 1vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .nouvelle  h2{
  font-size: 4vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  color: var(--primary-color);
  position: relative;
  padding: 2vh 0;
  width: 20rem;
  

}
          
.nouvelle .row {
   
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;

 }

.nouvelle .row  .actu{
  font-size: 4vh;
  font-family: cursivex ;
  color: var(--primary-color);
  position: relative;
  padding: 1vh 0;
margin-left: -44rem;

}

.nouvelle .row  .date{
  font-size: 3vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  background: var(--primary-color);
  position: absolute;
margin-left: 17rem;
border-bottom-left-radius: 6rem;
border-bottom-right-radius: 6rem;
color: #ffffff;
height: 3rem;
align-items: center;
text-align: center;
justify-content: center;
bottom: 11rem;
padding: 5px 6px;

}
          
.nouvelle .peda-plier .date p {
   
  position: relative;
  font-size: 12px; 
  font-family: fantasy;
  bottom: 12px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

 }
 

          
.nouvelle .peda-plier .box-plier .numb {
   
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: left;    
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  top: 2vh;

 }

 .nouvelle .peda-plier .box-plier .numb  img{
   
width: 37vh;
border-radius: 10px;
height: 13rem;
 
 }
          
.nouvelle .peda-plier .box-plier h3 {
   
  position: relative;
  font-size: 2vh; 
  font-family: fantasy;
  top: 1vh;

 }

          
.nouvelle .peda-plier .box-plier .desc {
   
  position: relative;
  font-size: 2vh; 
  font-family: fantasy;
  top: 1px;
  color: #464545;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .nouvelle  .plus{
  font-size: 3vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  color: var(--primary-color);
  position: absolute;
  padding: 2vh 122px;
  width: 20rem;
  right: 0;

}

.nouvelle  .grid-container {
  display: grid;
  grid-template-columns: 44% 44% ;
  padding: 20px 70px;
  justify-content: center;
  align-items: center;
}
.nouvelle  .grid-item {
  background-color: var(--primary-color);
  padding: 20px;
  font-size: 22px;
  text-align: left;
  margin: 2rem;
  display: flex;
}


.nouvelle .grid-container  .date{
  font-size: 5vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
margin-left: 1rem;

color: #ffffff;
height: 3rem;
align-items: center;
text-align: left;
justify-content: center;
padding: 18px 6px;

}
          
.nouvelle .grid-container .date p {
   
  position: relative;
  font-size: 12px; 
  font-family: fantasy;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

 }

        
.nouvelle .grid-container .next{
   
  position: relative;
  font-size: 22px; 
  font-family: fantasy;
  bottom: 12px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  width:18rem   ;
  padding: 12px 28px;


 }
 .nouvelle .grid-container .next h3{
   
  position: relative;
  font-size: 22px; 
  font-family: fantasy;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
  width: 18rem   ;

 }
 .nouvelle .grid-container h3 i{
   
  font-size: 21px; 
  color: #ffffff;

 }
 .nouvelle .grid-container  .i{
  font-size: 21px; 
  font-size: 52px;
  color: #ffffff;
  margin: 3rem 2rem;

 }

 .nouvelle   .actu2{
  font-size: 4vh;
  font-family: cursivex ;
  color: var(--primary-color);
  position: relative;
  padding:0 198px ;
  padding-top: 4rem;

}
.nouvelle  .decouve{
  font-size: 3vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  color: var(--primary-color);
  position: absolute;
  padding: 0px 12px;
  width: 20rem;
  right: 0;
  bottom:0;
  margin-top: 0;

}

.découvertes {
  background: var(--primary-color3);
  position: relative;
  height: 90vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(52, 52, 52, 0.5), rgba(60, 60, 60, 0.284)),
    url("../img/35.png");
  background-size: cover;
  margin-top: 120vh;
  

}
 /**/
.découvertes .block3 {
  
  
  left: 0;
  top: 0;
  margin: 10rem 11rem;
  padding: 11rem 5rem ;
}

.découvertes .block3 h2 {

  color: var(--primary-color3);
  font-size: 5rem;
  padding: rem 0;
}

.découvertes .block3 p {
  width: 66vh;
  color: var(--primary-color3);
  font-size: 19px;
  }
  .découvertes .block4 {
    width: 60%;
    background: #b11d3a;
    display: flex;
    margin-left: 15rem;
    padding: 0 6rem;
    color: #efefef;
    font-size:xx-large;
    position: absolute;
    margin-top: -150px;
    justify-content: center;
    justify-content: space-between;
    text-align: center;

  }
  .découvertes p {
    font-size: 20px;
  }

  /**/



  .formateurs  h2{
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--primary-color);
    position: relative;
    padding: 12vh 0;
    width: 20rem;
    
  
  }
  .formateurs  .blog{
  
    display: block;
    align-items:start;
    text-align:left;
    justify-content: left;
  
  }
  .formateurs  .blog .actu2{
  
    display: block;
    align-items:start;
    text-align:left;
    justify-content: left;
  
  }
  .formateurs .row {
     
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  
   }
  
  .formateurs .row  .actu{
    font-size: 4vh;
    font-family: cursivex ;
    color: var(--primary-color);
    position: relative;
    padding: 1vh 0;
  margin-left: -44rem;
  
  }
  
  
  .formateurs  .grid-container {
    display: grid;
    grid-template-columns: 34% 34% ;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
  .formateurs  .grid-item {
    background-color: white;
    padding: 50px 0;
    font-size: 22px;
    text-align: left;
    margin: 2rem 4rem;
    display: flex;
    border-radius: 12px;
    border: #f0f0f0 solid 1px;
    box-shadow: 1px 10px 15px 1px rgba(0,0,0,0.1);
  }
  
  
  .formateurs .grid-container  .profil{
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  margin  : -6rem;
  
  color:black;
  height: 3rem;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding: 1px 6px;
  
  }
            
  .formateurs .grid-container .profil img {
     
  position: relative;
  width: 13rem;
  height: 15rem;
  border-radius: 23px;
  
   }
  
          
  .formateurs .grid-container .next{
     
    position: relative;
    font-size: 22px; 
    font-family: fantasy;
    bottom: 12px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    width:18rem   ;
    padding: 12px 120px;
  
  
   }
   .formateurs .grid-container .next h3{
     
    position: relative;
    font-size: 28px; 
    font-family: fantasy;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
    width: 18rem   ;
  
   }
   .formateurs .grid-container .next a{
     
    position: absolute;
    text-decoration: none;
    font-size: 21px; 
    font-family: fantasy;
    color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',Arial, sans-serif;
    background: #b11d3a;
    border-radius: 33px;
    padding: 9px  20px;
    right: 60px;
  
   }
   .formateurs .grid-container h3 p{
     
    font-size: 21px; 
    color: #ffffff;
  
   }
   .formateurs .grid-container  .bar{
      font-size: 52px;
    background: #ff0d0d;
    width: 1vh;
    height: 9vh;
    margin: -10vh -15vh;
    z-index: 22;
  
   }
  
   .formateurs   .actu2{
    font-size: 4vh;
    font-family: cursivex ;
    color: var(--primary-color);
    position: relative;
    padding:0 198px ;
    padding-top: 4rem;
  
  }
  .formateurs  .decouve{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: var(--primary-color);
    position: absolute;
    padding: 220px 12px;
    width: 20rem;
    right: 0;
    bottom: 0;
  
  }
  
  
  /***/